ol.topics li {
	padding: 10px;
	width: 700px;
	white-space: nowrap;
	border-radius: 12px;
	margin-bottom: 15px;
	list-style-position: inside;
	margin-left: 20px;
}
ol li {
	margin-left: 20px;
	margin-bottom: 10px;
}
li {
	list-style-position: inside;
}

body ol li {
	font-weight: bold;
}
body ol li span {
	font-weight: normal;
}
ol.topics li a {
	height: 100%;
	padding: 10px;
	padding-right: 200px;
	border-radius: 12px;
}
li.letter {
	list-style-type: lower-latin;
}
h3 {
	display: inline-block;
	margin-bottom: 30px;
}
h4 {
	display: inline-block;
	margin-bottom: 30px;
}
h5 {
	display: inline-block;
	margin-bottom: 20px;
}
ul li {
	list-style-type: disc;
}
body.dark ol.topics li a {
	color: white;
	text-decoration: none;
	transition: all 0.6s ease;
}
ol.topics li a {
	color: #000000;
	text-decoration: none;
	transition: all 0.4s ease;
}

body.dark .html li:hover {
	background-color: #ee8a08;
	cursor: pointer;
	transition: all 0.5s ease;
	color: #000;
}
.html li:hover {
	background-color: #ee8a08;
	cursor: pointer;
	transition: all 0.5s ease;
	color: #ffffff;
}
body.dark .html li:hover a {
	color: #000;
	transition: all 0.5s ease;
}
.html li:hover {
	background-color: #ee8a08;
	cursor: pointer;
	transition: all 0.5s ease;
	color: #ffffff;
}
.html li:hover a {
	color: #ffffff;
}
.html .title {
	color: #ee8a08;
}
body.dark .css li:hover {
	background-color: #08a5ee;
	cursor: pointer;
	transition: all 0.5s ease;
	color: #000;
}
.css li:hover {
	background-color: #08a5ee;
	cursor: pointer;
	transition: all 0.5s ease;
	color: #ffffff;
}

body.dark .css li:hover a {
	color: #000;
	transition: all 0.5s ease;
}
.css li:hover a {
	color: #fff;
	transition: all 0.5s ease;
}
.css .title {
	color: #08a5ee;
}
body.dark .js li:hover {
	background-color: #a6ab04;
	transition: all 0.5s ease;
	cursor: pointer;
	color: #000;
}
.js li:hover {
	background-color: #a6ab04;
	transition: all 0.5s ease;
	cursor: pointer;
	color: #ffffff;
}
body.dark .js li:hover a {
	color: #000;
	transition: all 0.5s ease;
}
.js li:hover a {
	color: #ffffff;
	transition: all 0.5s ease;
}
.js .title {
	color: #dde31c;
}
.sql .title {
	color: #e31c1c;
}
body.dark .sql li:hover {
	background-color: #e31c1c;
	transition: all 0.5s ease;
	cursor: pointer;
	color: #000;
}
.sql li:hover {
	background-color: #1cc5e3;
	transition: all 0.5s ease;
	cursor: pointer;
	color: #ffffff;
}
body.dark .sql li:hover a {
	color: #000;
	transition: all 0.5s ease;
}
.sql li:hover a {
	color: #ffffff;
	transition: all 0.5s ease;
}
.react .title {
	color: #1cc5e3;
}
body.dark .react li:hover {
	background-color: #1cc5e3;
	transition: all 0.5s ease;
	cursor: pointer;
	color: #000;
}
.react li:hover {
	background-color: #1cc5e3;
	transition: all 0.5s ease;
	cursor: pointer;
	color: #ffffff;
}
body.dark .react li:hover a {
	color: #000;
	transition: all 0.5s ease;
}
.react li:hover a {
	color: #ffffff;
	transition: all 0.5s ease;
}
